# Ignore rake's cache
.rake_test_cache

# Ignore OSX related files
.DS_Store

# Ignore Vagrant files
.vagrant

# Ignore rvmrc file
.rvmrc

# Ignore VIM swap files
*.swp
*.swo

# Ignore editor temporary files
*~

# Ignore file locks
*.lock

# Ignore tmp dir
tmp/*

# Ignore bundle
.bundle/*

# Ignore Thor Version
VERSION

# Stuff that berkszero creates
.chef
.berkshelf
pkg
